# Vivado settings for hardware/synth/run_synth.sh. Copy this file to vivado.env and edit it.

# Vivado on a remote host reached by ssh. This is the setup used for the paper: Vivado 2022.1,
# run directories on the host's local scratch disk, a floating licence server.
VIVADO_MODE=remote
VIVADO_HOST=cccad5
VIVADO_REMOTE_DIR=/mnt/ccnas2/tdp/$USER/synth
VIVADO_SETTINGS=/mnt/ccnas2/bdp/opt/Xilinx/Vivado/2022.1/settings64.sh
VIVADO_LICENSE=27000@chicken.doc.ic.ac.uk
VIVADO_JOBS=8

# Vivado on this machine:
# VIVADO_MODE=local
# VIVADO_SETTINGS=/opt/Xilinx/Vivado/2022.1/settings64.sh
# VIVADO_JOBS=4
